#titulo{
    background-color: black;
    color: white;
}

body{
    background-image: url("../img/fundo.jpg");
    background-size: 100% 100%;
}

input, select{
    width: 100%;
}


#descricao{
    height: 100px;
}





